<button type="button" class="btn btn-outline-secondary" id="burger" (click)='openNav()'>&#9776; Inventaire</button>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)='closeNav()'>&times;</a>
  <div class="list-group">
    <button type="button" class="list-group-item list-group-item active">
      Inventaire
    </button>
    <div *ngIf="inventaire">
      <div class="row" *ngFor='let objet of inventaire.objet'>
        <div class="col">

          <div class="list-group-item list-group-item ">
            <div class="row ">
              <div class="col col-lg">
                <label>{{objet}}</label>
              </div>
              <div class="col-sm-auto justify-content-right">
                <button class="btn btn-primary" type="button" style="height: 30px" style="width: 30px"
                  (click)="suppItem(objet)">-</button>
              </div>
            </div>
          </div>

        </div>
      </div>



      <div class="row d-flex text-center" style="padding-top: 30px">
        <div class="col">
          <label> {{inventaire.argent}} Vallons </label>
        </div>
      </div>

    </div>
  </div>
  <div class="row d-flex justify-content-center" style="padding-top: 30px">
    <form [formGroup]="vallonForm">
      <div class="input-group">
        <div class="col-">
          <input type="number" name="vallonValue" placeholder="Vallons" id="inputGroupFile04" formControlName="vallon">
        </div>
        <div class="col- " id="ob">
          <button class="btn btn-primary text-center" type="reset" style="height: 30px"
            (click)="changeVallon(vallonForm.value)">add</button>
        </div>
      </div>
    </form>
  </div>

  <div class="row d-flex justify-content-center " style="padding-top: 30px">
    <form [formGroup]="objetForm">
      <div class="input-group">
        <div class="col-">
          <input type="text" placeholder="Ajouter un objet" id="inputGroupFile04" formControlName="item">
        </div>
        <div class="col-" id="ob">
          <button class="btn btn-primary" type="reset" style="height: 30px" (click)="addItem(objetForm.value)"> add

          </button>
        </div>
      </div>
    </form>
  </div>

</div>
