




.card{
  margin-bottom: 3px;
}

.card.hoverable:hover {
  transform: scale(1.01, 1.01);

}

.card.hoverable.marge{
  margin-right: 5px;

}




.modal-center{
  top: 10%;
  transform: translate(-50%)!important;
}

.modal-dialog{
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
