

<div class='container'>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Nom du jeu" formControlName="nom">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="URL de l'image" formControlName="image">
      </div>
      <div class="col">
  <button type="submit" class="btn btn-primary">Créer un jeu</button>
</div>
    </div>
  </form>
  <div class='row'>
    <div *ngFor="let gameSource of gamesSources" class='col' style="margin-top:20px">
      <app-game-detail [game]='gameSource._source'></app-game-detail>
    </div>
  </div>
</div>



