

.bigModal{
  width: 1080px;
  text-align: center;
  padding: 0!important;
}

.modal-center{
  top: 10%;
  transform: translate(-50%)!important;
}

.modal.dialog{
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


